.index-content {
  padding: 1rem 2rem 2rem 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1.4rem auto 1.8rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 4rem;
    background: var(--primary-color);
    height: .3rem;
    left: 0;
    bottom: 0;
    border-radius: 4px;
  }
}

.how {
  margin-top: 1rem;
}

.markdown {
  padding: 0;
  margin: 0;
  height: calc(100vh - var(--navbar-height));
  position: relative;

  & textarea {
    width: 100%;
    resize: none;
    padding: 1rem;
    box-sizing: border-box;
    height: calc(90% + 2.4rem);
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
  }

  & button {
    position: absolute;
    width: var(--index-width);
    bottom: 0;
    left: 0;
  }
}
